/*::cue {
	outline-width: 10px;
	outline-color: black;
	background-color: red;
	font-size: 200%;
}

.vjs-text-track-display div {
	  font-size: 200% !important;
	  font-color: red !important;
  }
  */
body {
	background-color: black;
	color: white;
}

.dirDiv {
	border-width: 1px;
	border-color: orange;
	border-style: solid;
	float: left;
	padding: 5px;
	margin: 5px;
}
.movieDiv {
	border-width: 1px;
	border-color: orange;
	border-style: solid;
	float: left;
	padding: 5px;
	margin: 5px;
}

.divSeason {
	display: block;
	width: 100%;
	text-align: center;
}

.divSeason img {
	height: 240px;
}
