/*::cue {
	outline-width: 10px;
	outline-color: black;
	background-color: red;
	font-size: 200%;
}

.vjs-text-track-display div {
	  font-size: 200% !important;
	  font-color: red !important;
  }
  */
body {
	background-color: black;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: orange;
}

.dirDiv {
	border-width: 1px;
	border-color: orange;
	border-style: solid;
	float: left;
	padding: 5px;
	margin: 5px;
	width: 190px;
	height: 360px;
	text-align: center;
}
.movieDiv {
	border-width: 1px;
	border-color: orange;
	border-style: solid;
	float: left;
	padding: 5px;
	margin: 5px;
	width: 228px;
	height: 360px;
	text-align: center;
	display: block;
	word-break: break-all;
}

.episodeWrapperDiv {
	display: block;
	width: 100%;
	text-align: center;
}

.episodeDiv {
	border-width: 1px;
	border-color: orange;
	border-style: dashed;
	padding: 5px;
	margin: 0 auto 5px auto;
	width: 75%;
	height: 30px;
	text-align: left;
	display: block;
	word-break: break-all;
}

.divSeason {
	display: block;
	width: 100%;
	text-align: center;
}

.divSeason img {
	height: 240px;
}
