<!DOCTYPE HTML>
<html>
	<head>
		<title>PLAY!</title>
		<link rel="stylesheet" href="/static/play.css" type="text/css" />
	</head>
	<body>
		<a href='/'>HOME</a>
		<h1>{{ info.name }}</h1>
		{% if info.url != '' %}
		<a href='{{ info.url }}' target='_blank'>
		{% if info.posterUrl != '' %}
		<div class="divSeason">
		<img src='{{ info.posterUrl }}' />
		</div>
		{% endif %}
		</a>
		{% endif %}
		{% if dirs|length > 0 %}
		<!--<h2>Directories</h2>-->
			{% for dir in dirs %}
		<div class='dirDiv'>
			<a href='/{{ dir.key }}'>
			{% if dir.posterUrl != '' %}
			<img src="{{ dir.posterUrl }}"/></BR>
			{% endif %}
			{{ dir.name }}</a></BR>
			{% if dir.tmdbid != -1 %}
			<a target='_blank' href="{{ dir.url }}">INFO</a>
			{% endif %}
		</div>
			{% endfor %}
		{% endif %}
		{% if movies|length > 0 %}
		<!--		<h2>Movies</h2>-->
			{% for movie in movies %}
		<div class='movieDiv'>
			<a href='/info/{{ movie.key }}'>
					{% if movie.tmdb and movie.tmdb.poster != '' %}
					<img src="https://image.tmdb.org/t/p/w185{{ movie.tmdb.poster }}"/>
					{% endif %}
					{{ movie.name }}
			</a></BR>
			{% if movie.tmdb and movie.tmdb.id != -1 %}
			<a target='_blank' href="https://www.themoviedb.org/movie/{{ movie.tmdb.id }}">INFO</a>
			{% endif %}
		</div>
			{% endfor %}
		{% endif %}
	</body>
</html>
