<!DOCTYPE HTML>
<html>
	<head>
		<title>PLAY!</title>
		<link rel="stylesheet" href="/static/play.css" type="text/css" />
	</head>
	<body>
		<a href='/'>HOME</a>
		{% if dirs|length > 0 %}
		<h1>Directories</h1>
		<ul>
			{% for dir in dirs %}
			<li><a href='/{{ dir.key }}'>
			{% if dir.tmdb and dir.tmdb.poster != '' %}
				<img src="https://image.tmdb.org/t/p/w185{{ dir.tmdb.poster }}"/>
			{% endif %}
			{{ dir.name }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if movies|length > 0 %}
		<h1>Movies</h1>
		<ul>
			{% for movie in movies %}
			<li><a href='/info/{{ movie.key }}'>
					{% if movie.tmdb and movie.tmdb.poster != '' %}
					<img src="https://image.tmdb.org/t/p/w185{{ movie.tmdb.poster }}"/>
					{% endif %}
					{{ movie.name }}
			</a></BR>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</body>
</html>
